
.accordion-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
    
  }
  

  .accordion {
    width: 100%;
    max-width: 600px;
    background-color: #fff5e1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 15px;
  }

  .accordion-item {
    border-bottom: 1px solid #ddd;
  }
  

  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    background-color: #d1a159;
    font-size: 18px;
    color: #fff; 
    font-weight: 600;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  .accordion-header:hover {
    background-color: #c68c39; 
  }
  
 
  .accordion-toggle {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  
 
  .accordion-answer {
    padding: 15px;
    background-color: #f5d1a3; 
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    border-radius: 5px;
  }
  

  .no-data {
    text-align: center;
    padding: 30px;
    font-size: 18px;
    color: #aaa;
  }
  